html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-getflag {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}

.form-getflag h1 {
    margin-bottom: 20px;
  }

.form-getflag .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-getflag input[type="range"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.question-main {
  text-align: left;
}

.question-q {
  margin-bottom: 10px;
}