<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FLXG!</title>

  <link href="static/style/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="static/meta/apple-touch-icon.png">
  <link rel="apple-touch-startup-image" href="static/meta/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
  <link rel="apple-touch-startup-image" href="static/meta/apple-touch-startup-image-640x920.png"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1 class="title">FLXG</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">合并方块完成 <strong>FLXG！</strong></p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
          <div id="game-message-extra"></div>
          <br>
	        <a class="keep-playing-button">继续 FLXG</a>
          <a class="retry-button">从头 FLXG</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation">
      <strong class="important">如何 FLXG:</strong> 用你的 <strong>方向键</strong> 移动方块. 当两块相同的方块碰到一起， 你就离 <strong>FLXG</strong> 更近了一步！
    </p>
  </div>

  <!-- 
    changelog:
    - 2020/10/31 getflxg @ static/js/html_actuator.js
  -->

  <script src="static/js/bind_polyfill.js"></script>
  <script src="static/js/classlist_polyfill.js"></script>
  <script src="static/js/animframe_polyfill.js"></script>
  <script src="static/js/keyboard_input_manager.js"></script>
  <script src="static/js/html_actuator.js"></script>
  <script src="static/js/grid.js"></script>
  <script src="static/js/tile.js"></script>
  <script src="static/js/local_storage_manager.js"></script>
  <script src="static/js/game_manager.js"></script>
  <script src="static/js/application.js"></script>
</body>
</html>
